@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 217 89% 91%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 238 54% 37%;
    --primary-foreground: 0 0% 98%;
    --secondary: 238 54% 85%;
    --secondary-foreground: 238 54% 20%;
    --muted: 217 89% 96%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 168 54% 37%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 217 30% 80%;
    --input: 217 30% 80%;
    --ring: 238 54% 37%;
    --radius: 0.5rem;
    --sidebar-background: 238 54% 18%;
    --sidebar-foreground: 217 30% 95%;
    --sidebar-primary: 217 89% 91%;
    --sidebar-primary-foreground: 238 54% 18%;
    --sidebar-accent: 238 54% 28%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 238 54% 28%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 238 54% 50%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 168 54% 50%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 238 54% 50%;
    --sidebar-background: 240 10% 8%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 238 54% 50%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 10% 15%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 238 54% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}